{% assign widgetSlug = conversioproductreview %}

<div class="rf-reviews" data-slug="{{ widgetSlug }}"></div>

<script>
if (typeof window.ConversioData === 'undefined') {
  window.ConversioData = {};
}
</script>
